[submodule "tricksterblog/themes/risotto"]
	path = tricksterblog/themes/risotto
	url = https://github.com/joeroe/risotto.git
[submodule "tricksterblog/themes/hugo.386"]
	path = tricksterblog/themes/hugo.386
	url = https://gitlab.com/jmfergeau/hugo.386
